doctype html
html
  head
    meta(name="viewport' content=", width='device-width,', initial-scale='1.0"')
    |         
    meta(charset='utf-8')
    |         
    title Movies
    |         
    link(href='/css/movies.css' rel='stylesheet')
    link(href="/css/topnav.css" rel="stylesheet")
    link(href="/css/header-search.css" rel="stylesheet")

  |     
  body
    header#header
        h1 Movie Database
        p Enter data below and hit search to find matching movies.

        p Title: 
            input#title(type="textbox")
        p Genre: 
            input#genre(type='textbox')
        p Actor Name: 
            input#actor(type='textbox')
        button#refresh(type="submit" onclick="searchBy()") Search
        br       
        .profile
            .nav-menu 
                a.active(href='/')
                    span.material-icons home
                a(href='/searchPage')
                    span.material-icons search
                |    
                a(href='/movies')
                    span.material-icons playlist_play
                |  
                a(href=`/profile/${session.username}`)
                    span.material-icons account_circle
                |    
                a(href='/logout')
                    span.material-icons login
                | 
        include ../views/partials/footer        
    |
    .container
        div#results
    script(src="/js/client.js")



