@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v76/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


/*top bar*/
.topnav {
    overflow: hidden;
    background-color: #333;
  }
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #111;
    color: white;
}
.topnav a.active {
    background-color: #2196F3;
    color: #f1f1f1;
}
.topnav a.active:hover {
    background-color: coral;
    color: #f1f1f1;
}
.topnav .search-container {
    float: right;
}
.topnav input[type=text] {
    padding: 6px;
    width: 500px;
    margin-top: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px 0 0 5px;
}
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 10px;
    margin-right: 155px;
    margin-right: 155px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.topnav .search-container button:hover {
    background: #ccc;
}
@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;  
    }
}



